
<%- model_class = Subcategory -%>
<div class="mid_contain">
                  
<div style="width:100%;float:left">
                                 
                  <div class="page-header">
                    <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
                  </div>

                  <div style="margin:0 auto 20px auto;text-align:center; color:green">
                            <p id="notice"><%= notice %></p>
                  </div>
           
            <%= form_for @search, :url => admin_subcategories_path, :html => {:method => :get} do |f| %> 
            <div style="width:100%;float:left">
                <div style="width:50%;float:left"><%= link_to 'New Subcategory', new_admin_subcategory_path,:class=>"btn btn-primary pull-left" %>
                </div>
                 <div style="width:50%;float:left"> 
                    <div style="float:left">Name</div> 
                    <div style="float:right">
                    <%= f.text_field :name_contains ,:style => "width:185px;height:16px;", :class =>"input-block-level"%>
                    <%= f.submit "Search", :class=>"btn btn-primary pull-right" %>
                    </div>
                </div>
            </div> 

           <% end %> 
           
              
            <table class="table table-bordered"  >
              <thead>
                <tr>               
                  <th><%= model_class.human_attribute_name(:name) %></th>                 
                  
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                
                <% @subcategories.each_with_index do |category,i| %>
                <% if i % 2 ==0 %>    
                  <% @class="odd_class" %>    
                  <% else %>
                  <% @class="even_class" %>    
                  <% end%>
                  <tr class=<%=@class%>>


                <td height="30" align="left" valign="middle" ><%= category.name %></td>
                 <!-- <td><%#= category.desc %></td> -->
                <td width="280">
                <%= link_to 'Show', admin_subcategory_path(category) , :class=>"btn btn-primary pull-left"%>
                <%= link_to 'Edit', edit_admin_subcategory_path(category), :class=>"btn btn-primary pull-left"%>
                <%if category.status==true%>
               <%= link_to 'Active', change_status_admin_subcategory_path(category), :class=>"btn btn-primary pull-left" ,:confirm => 'Do you want  to inactivate category?' %>
                <%else%>
                <%= link_to 'Inactive', change_status_admin_subcategory_path(category), :class=>"btn btn-primary pull-left",:confirm => 'Do you want to activate category?' %> 
                <%end%>
                
                <%#= link_to 'Destroy', admin_category_path(category),:class=>"btn btn-primary pull-left", method: :delete, data: { confirm: 'Are you sure want to delete the category?' } %>
                </td>
                </tr>


            <% end %> 
             
                  <% if @subcategories.empty? %>
                  <tr>
                     <td height="30" align="left" valign="middle" bgcolor="#f4f4f4" colspan="3">
                        No Records Found
                     </td> 
                   </tr> 
                  <% end %>
              
              </tbody>
            </table>
          </table>
  
              <div class="digg_pagination" width="100%" style="float:right">    
                 <%= will_paginate @subcategories,:container => true %>
              </div>
            
    </div>

</div>





