
<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		    <div class="container-960 innerT">

			<body class="document-body login">

				<!-- Wrapper -->
			<div id="login">
			<div class="container">
				<div class="wrapper signup">
					
						<h1 class="glyphicons lock"><!-- <img src="/assets/logo1.png" alt="Avatar" /> --></h1>
					
						<!-- Box -->
						<div class="widget widget-heading-simple">
							
							<div class="widget-head">
								<h3 class="heading">Forgot your password?</h3>
								<div class="pull-right">
									<div style="float:left"><%- if controller_name != 'sessions' %>
			  <%= link_to "Sign in", new_session_path(resource_name),:class=>"btn btn-inverse btn-mini" %><br />
			<% end -%></div>
				<div style="float:left">
			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			  <%= link_to "Sign up", new_registration_path(resource_name),:class=>"btn btn-inverse btn-mini" %><br />
			<% end -%></div>
								<!--  -->
								</div>
							</div>
							<div class="widget-body">
					

								<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
								<!-- Row -->
								<div class="row-fluid row-merge">
								
								  <%= devise_error_messages! %>

									<div class="span6">
										<div class="innerR">
											<label class="strong">Email</label>
											
											 <%= f.email_field :email, :autofocus => true, :class=>"input-block-level", :placeholder=>"Your Email"  %>
											
										</div>
										<span class="btn btn-icon-stacked btn-block btn-success glyphicons user_add" style="font-size:12px;" >
								<%= f.submit "Send me reset password",:style=>"font-size:12px", :class=>"btn btn-success" %>
								</span>
								<p>Having troubles? <a href="faq.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-light&amp;sidebar_type=dropdown">Get Help</a></p>
									</div>
								
								<% end %>
								 
										
								</div>
								<!-- // Row END -->
								
								</form>
								<!-- // Form END -->
					
					
							</div>
							<!-- // Box END -->
							
						</div>
						
				</div>
			</div>
			</div>
			</body>
		</div>
	 </div>
	 </div>

<!-- // Wrapper END -->	


<!-- // Themer END -->
<!-- 
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
 -->