
<body>
	
	<!-- Main Container Fluid -->
	<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		
		
<div id="login">

	<div class="container">
	
		<div class="wrapper">
		
			<h1 class="glyphicons unlock">Sign in <i></i></h1>
		
			<!-- Box -->
			<div class="widget widget-heading-simple widget-body-gray">
				
				<div class="widget-body">
				<span style="color:red"><%= alert %></span>
					
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					
					<%= devise_error_messages! %>
					<label>Email</label>
						  
						  <%= f.email_field :email, :autofocus => true, :placeholder => "Your Email", :class =>"input-block-level" %>
								<label>Password<div class="password"><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
								  <%= link_to "forgot it?", new_password_path(resource_name) %><br />
								<% end -%></div></label>
						  <div>
						  <%= f.password_field :password, :placeholder => "Your Password",:class=>"input-block-level margin-none" %></div>
						  <div class="separator bottom"></div>
						  <% if devise_mapping.rememberable? -%>
						  <div class="row-fluid">
							<div class="span8">
								<div class="uniformjs">		
								<div style="float:left">
                                 
								<%= f.check_box :remember_me %></div> <div style="float:left;padding-left:5px; "><%= f.label :remember_me,:class=>"checkbox" %></div>
								 </div>
							 	
							</div>
						  <% end -%>


							<div class="span4 center">
							 <div ><%= f.submit "Sign in",:class=>"btn btn-block btn-inverse" %></div>
								
							</div>
						</div>

						<% end %>
					<!-- // Form END -->
							
				</div>
				<div class="widget-footer">
					<p class="glyphicons restart"><i></i>Please enter your Email and password ...</p>
				</div>
			</div>
			<!-- // Box END -->
			
		</div>
		
	</div>
	
</div>
<!-- // Wrapper END -->	
		</div>
		<!-- // Content END -->
		
		<!-- // Footer END -->
		
	</div>
	<!-- // Main Container Fluid END -->

<!-- Themer -->
<div id="themer" class="collapse">
	<div class="wrapper">
		<span class="close2">&times; close</span>
		<h4>Themer <span>color options</span></h4>
		<ul>
			<li>Theme: <select id="themer-theme" class="pull-right"></select><div class="clearfix"></div></li>
			<li>Primary Color: <input type="text" data-type="minicolors" data-default="#ffffff" data-slider="hue" data-textfield="false" data-position="left" id="themer-primary-cp" /><div class="clearfix"></div></li>
			<li>
				<span class="link" id="themer-custom-reset">reset theme</span>
				<span class="pull-right"><label>advanced <input type="checkbox" value="1" id="themer-advanced-toggle" /></label></span>
			</li>
		</ul>
		<div id="themer-getcode" class="hide">
			<hr class="separator" />
			<button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less"><i></i>Get LESS</button>
			<button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css"><i></i>Get CSS</button>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

</body>


