
<script type="text/javascript">
$(document).ready(function(){
$('#search').click(function(){
var ques  = new Array();
var subques  = new Array();
$('.questions span').each(function(){ques.push(this.id);});
$('#question_ids').val(ques);
$('.questions select').each(function(){subques.push(this.value);});
$('#subquestion_ids').val(subques);
   });
   });
</script>
<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		<div class="mid_contain">
		    
		    	<div class="widget widget-heading-simple widget-body-gray">
					
				  <div class="widget-body">
					<div class="page-header">
                            <h2> Tell us more about your needs</h2> <%#= link_to 'Back', posts_path, :class=>"btn btn-primary pull-right" %>
                      

                               <%= form_for :question, :url => results_path, :html => {:method => :get} do |f| %> 
					             <div class="questions">

					                    <div>
					                    <% @questions.each_with_index do |q, i| %>	
					                    <label class="strong"><%#=i+1%></label><span id='<%= q.id %>'><%= q.name %></span>
					                    </div> 
					                    <div>
					                    <label class="strong"> </label>
					                    <%= select_tag "select", options_from_collection_for_select(q.subquestions.order(:name), "id", "name") %>
                                      

									<% end %>


									
                                     <%= hidden_field_tag :question_ids %>   
                                     <%= hidden_field_tag :subquestion_ids %>  
                                     <%= hidden_field_tag :zip , params[:zip] %> 
                                     <%= hidden_field_tag :name , params[:name] %> 
									 <label class="strong"> </label>
									<%= f.submit "Search", :class=>"btn btn-primary pull-left", :id => "search" %>
									</div>	
							<% end %>
                        
                          
                          
						     </div>
						    <div>
					                   <!--  <% @questions.each do |q| %>	
					                    <%= q.name %>
					                    </div> 
					                    <div>
					                    <label class="strong"></label>
					                    <%= select_tag "select", options_from_collection_for_select(q.subquestions.order(:name), "id", "name") %>
                              
									<% end %> -->
						
				  </div>
			   </div>
			
		</div>
	</div>
</div>


