

<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		  <div class="mid_contain">
		    
		      <div class="widget widget-heading-simple widget-body-gray">
				
				   <div class="widget-body">
					       <div class="page-header">
                            <h2>Edit Posts</h2>
                            <%#= link_to 'Show', @post,:class=>"btn btn-primary "  %>
                            <%= link_to 'Back', posts_path, :class=>"btn btn-primary pull-right" %>
                           </div>
                                          
		                          <div style="margin:0 auto 20px auto;text-align:center; color:green">
		                                    <p id="notice"><%= notice %></p>
		                          </div>



    <%= form_for(@post, :html => {:id => 'edit_post_form'}) do |f| %>
							  <!--
							  <%# if @post.errors.any? %>
							    <div id="error_explanation">
							      <h2><%#= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

							      <ul>
							      <%# @post.errors.full_messages.each do |msg| %>
							        <li><%#= msg %></li>
							      <%# end %>
							      </ul>
							    </div>
							  <%# end %>
							-->
						 <div class="row-fluid row-merge">
						                   
						            <div class="span6">
						              <div class="innerR">
						                  
						                    <label class="strong">Name </label><%= f.text_field :name %>
						                    
						                  
						                     <label class="strong">Company Name  </label>  <%= f.text_field :company_name %>
						                   
						                 
						                  
						                    <label class="strong">Company Type  </label><%= f.text_field :company_type %>  
						                    
						        
						                    <label class="strong">Company Register No.  </label>  <%= f.number_field :company_reg_no %> 
						                    
						                
						                     <label class="strong">Company Address  </label><%= f.text_field :company_address,:class => 'text_field' %>
						                    
						                
						                    <label class="strong">Company Description   </label><%= f.text_area :company_description, :size => '2x2' %> 
						                   
						                   <label class="strong">Category </label>
						                     <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: 'Select Category' %>
						                   <div id="subcategory">
						                   <label class="strong">Subcategory</label> 
			                    			 <%= f.grouped_collection_select :subcategory_id, Category.order(:name), :subcategories, :name, :id, :name, include_blank: 'Select Subcategory' %>
			                 
						                  	</div>
						                 
						                    <label class="strong">Country  </label> 
						                     <%= f.collection_select :country_id, Country.order(:name), :id, :name, include_blank: 'Select Country' %>
						              		 <div id="state">
						                    <label class="strong">State </label> 
						                    <%= f.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, include_blank: 'Select state' %>
						                    </div>

						                    <label class="strong">City </label> <%= f.text_field :city %> 
						                    
						               
						                    <label class="strong">ZIP  </label><%= f.text_field :zip %>
						                    
						               
						                    <label class="strong">Phone  </label><%= f.text_field :phone %> 
						                    
						                 
						                    <label class="strong">Email  </label><%= f.text_field :email %>
						                   
						                 
						                    <label class="strong">URL  </label><%= f.text_field :url %>
						                    
						              <label class="strong"></label>
						                  <div class="span4 center">
						                    <%= f.submit 'Update Post', :class => 'btn btn-primary' %>

						                  </div>
						              
						      </div>
						 </div>
					 </div>
  <% end %>
						
						
				 </div>
		     </div>
	     </div>
	  </div>
</div>


