

<div class="container-fluid menu-hidden">
		
		<!-- Content -->
		<div id="content">
		<div class="mid_contain">
		    
		    	<div class="widget widget-heading-simple widget-body-gray">
					
				  <div class="widget-body">
					<div class="page-header">
                            <h2> Search Posts</h2> <%#= link_to 'Back', posts_path, :class=>"btn btn-primary pull-right" %>
                      
                             
                        
                          <div style="margin:0 auto 20px auto;text-align:center; color:green">
                                    <p id="notice"><%= notice %></p>
                          </div>
                          
                           <%= form_for search_path, :html => {:method => :get} do |f| %> 
					             
					                    <div>What service you need?</div> 
					                    <div>
					                    <%= text_field_tag :name  , params[:name] ,:style => "width:185px;height:16px;", :class =>"input-block-level", :placeholder => "Pumbler"%>
					                    <div>Where do you need?</div> 
					                     <%= text_field_tag :zip  , params[:zip] ,:style => "width:185px;height:16px;", :class =>"input-block-level", :placeholder => "ZIP code"%>
					                    <div></div> 
					                    <%= f.submit "Search", :class=>"btn btn-primary pull-left" %>
					                    
					                    </div>
					           
									
							<% end %>
						     </div>
                        <% unless @posts.blank? %>
							 <table class="table-responsive table table-bordered table-striped"  >
                                  <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Country</th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                  </tr>

                                <% @posts.each do |post| %>
                                  <tr>
                                    <td><%= post.name %></td>
                                     <td><%= post.category.name %></td>
                                      <td><%= post.subcategory.name %></td>
                                      <td><%= post.country.name %></td>
                                   
                                    <td><%= link_to 'Show', post ,:class=>"btn btn-btn" %></td>
                                    <td><%= link_to 'Edit', edit_post_path(post),:class=>"btn btn-block btn-inverse" %></td>
                                    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-block btn-danger" %></td>
                                  </tr>
                                <% end %>
                        </table>
                    <% end %>
						
				  </div>
			   </div>
			
		</div>
	</div>
</div>


